
html.bgextended {
	background: url(../background.php) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
}
.bgtrex{
	background-color: transparent !important;
}
.exlogo {
    filter: drop-shadow( 3px 3px 5px rgba(0,0,0,.5));
}
.exlogin-form {
	width: 100%;
	max-width: 350px;
	background:rgba(255,255,255,.6);
	padding: 15px;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5);
}
.exlogin-footer {
	position: fixed;
	bottom: 0;
	color: white !important;
	background: #000000a8;
	left: 0;
	right: 0;
	text-align: right;
	padding-right: 10px;
	line-height: 20px;
}
button.exsend {
	display: none;
}
#composebodycontainer {
    height: calc(100% - 152px) !important;
}
.html-editor>textarea {
    height: 100%;
    max-height: calc(100% - 11px);
}
.fright {
    float: right;
}
.formcontainer .formcontent {
	height: 100%;
}
.mce-container-body {
	height: 100% !important;
}
.mce-tinymce {
	height: calc(100% - 2px) !important;
	width: calc(100% - 2px) !important;
}
.mce-edit-area {
	overflow: hidden auto;
	width: 100% !important;
	background: white !important;
	height: calc(100% - 28px) !important;
}